html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* カスタムプロパティ, IE非対応らしい 対応するにはpostcss当たりが必須？？ */
:root {
  --color-text: #000;
  --color-button-text: #fff;
  --color-bg: #fff;
  --color-code-bg: #fafafa;
  --color-border: #eaeaea;
  --color-link: #0070f3;
  --color-link2: #000;
  --img-invert: invert(0);
}
/* 追記 */
:root[data-theme='dark'] {
  --color-text: #fff;
  --color-bg: #333;
  --color-code-bg: #2d2d2d;
  --color-border: #dfdfdf;
  --color-link: #e6fc07;
  --color-link2: #fff;
  --img-invert: invert(1);
}
