@use './setting.module.scss' as set;

.header {
  // background-color: set.$gray;
  border-bottom: 0.1rem solid set.$borderColor;
}
.container {
  padding: 0.4rem 4rem;
  text-align: center;
}
.text {
  text-align: center;
  font-size: 1.4rem;
  color: var(--color-text);
}
.link {
  &:hover {
    text-decoration: underline;
  }
}
