.contaier {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  //defaultのslickstyle上書き,global指定でこの階層のスタイルがglobal scoopぽくなる
  :global {
    .slick-prev,
    .slick-next {
      z-index: 1;
    }
    .slick-prev {
      left: 0px;
    }
    .slick-next {
      right: 0px;
    }
  }
}
